@charset "UTF-8";
/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap");
/* MIXINS */ /* BODY */
* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #F5F5F5;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #1D1D1F;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

.container-fluid,
.container {
  padding-left: 0;
  padding-right: 0;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
  margin-bottom: 52px;
  padding-bottom: 52px;
  overflow-x: hidden;
}

.container_grey {
  margin: 0 10%;
  padding-top: 16px;
}

.container_white {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 16px 10% 32px;
}

/* HEADER */
.header {
  position: fixed;
  background: #F5F5F5;
  width: 100vw;
  z-index: 10;
}

nav {
  margin-top: 50px;
  color: #1F1F1F;
  background: #F5F5F5;
  z-index: 10;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 57%;
}
nav ul a:hover {
  padding-bottom: calc(var(--bs-nav-link-padding-x) - 2px);
  border-bottom: #1F1F1F solid 2px;
  transition: all 0.1s ease;
}
nav li {
  list-style-type: none;
  font-style: normal;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #1F1F1F;
}

.navbar__button-contact {
  text-transform: uppercase;
  display: flex;
  padding: 8px 32px 8px 18px;
  background-color: #1F1F1F;
  color: #FFFFFF;
  border-radius: 10px;
  flex-direction: row;
  transition: all 0.3s ease;
}
.navbar__button-contact:hover {
  background-color: #5A5A5A;
}

.icon-phone_white {
  height: 18px;
  margin: auto 8px;
}

.navbar-toggler {
  border: 0;
}

/* Títulos y subtítulos */
h1,
h2,
h3,
h5 {
  font-weight: 600;
}

h1.title-sec {
  font-size: 40px;
  width: 80%;
  margin: 30px auto 8px;
}

h2 {
  font-size: 40px;
  margin-top: 24px;
  margin-bottom: 12px;
}

h2.pagTerciaria {
  margin: 8px auto;
}

h4.subtituloNotas {
  font-size: 20px;
  margin-top: 24px;
}

h3,
.notasTitulo {
  font-size: 24px;
  margin: 8px auto 8px 24px;
}

.card h4, .cardInfo h4 {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #8F8D92;
  margin: 24px auto 0px 24px;
}

.notasSubtitulo {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #8F8D92;
  margin: 24px auto 0px 24px;
}

h3.pagTerciaria {
  margin: 24px auto 0px;
}

h4.tituloSecundario {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.box-footer h3, .box-footer h4, .box-footer h5 {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  margin: 16px 0px 8px 0px;
}

/* Botones */
.btn {
  color: #FFFFFF;
  background-color: #8EBB73;
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  display: block;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #417139;
  color: #FFFFFF;
}

.btn_big {
  font-size: 22px;
  line-height: 40px;
  width: 240px;
}

.btn_little {
  position: absolute;
  right: 24px;
  bottom: 16px;
  font-size: 16px;
  line-height: 26px;
  width: 150px;
}

/* SECCIÓN 1 - Intro */
.box-intro {
  align-items: center;
}
.box-intro div {
  font-weight: 600;
  font-size: 36px;
  color: #8F8D92;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 50px;
}
.box-intro div p {
  margin: 0%;
  padding-bottom: 52px;
}

.section-intro span {
  color: #1D1D1F;
}
.section-intro img {
  margin-top: -20px;
}
.section-intro h1 {
  font-size: 48px;
  color: #8F8D92;
  margin: 30px auto 0px;
}

/* TARJETAS NOTAS Y PROFESIONALES */
.container-cards {
  display: flex;
  width: 100%;
  margin: 16px auto 48px;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
  scrollbar-width: none;
  align-items: flex-start;
  padding-right: 20px;
  padding-bottom: 5px;
}

.card {
  overflow: hidden;
  min-width: 296px;
  max-width: 296px;
  height: 427px;
  background: #FFFFFF;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-left: 24px;
  position: relative;
}
.card p {
  margin: 0px 24px auto 24px;
}
.card img {
  position: absolute;
  bottom: 0px;
  width: 296px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Secciones HOME */
.home-section h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  grid-area: titleNotas;
}

/* UBICACIÓN - Sección 3 Home */
.box-map {
  display: grid;
  grid-template-areas: "mapa direccion" "mapa btnMapa";
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 45%;
  grid-column-gap: 5%;
}
.box-map iframe {
  width: 100%;
  height: 440px;
  grid-area: mapa;
}

.direccion {
  grid-area: direccion;
  margin: 5% 5%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.direccion p {
  margin: 4% 0%;
  font-size: 24px;
}
.direccion img {
  height: 24px;
  margin-right: 10px;
}

.bold {
  font-weight: 600;
}

.btn-mapa {
  margin: 57px auto;
  grid-area: btnMapa;
  max-height: 52px;
}

.ancla {
  position: relative;
  top: -135px;
}

/* NOTAS - Sección 4 Home */
.notas {
  display: grid;
  grid-template-areas: "titleNotas enlaceNotas" "cardNotas cardNotas";
  grid-template-columns: 85% 15%;
  align-items: baseline;
}

.link-notas {
  grid-area: enlaceNotas;
  font-size: 16px;
  line-height: 20px;
  color: #219ED3;
  text-align: right;
}

.box-notas {
  grid-area: cardNotas;
}

/* FOOTER */
footer {
  margin-top: 52px;
  margin-bottom: 0px;
  padding: 24px 0px;
  background-color: #D9D9D9;
  text-align: center;
}

.box-footer {
  display: grid;
  grid-template-areas: "footerLinks footerAddress";
  grid-template-columns: 50% 50%;
  grid-column-gap: 10%;
  text-align: left;
  margin-top: 0px;
  margin-left: 10%;
}
.box-footer a {
  margin-top: 8px;
}
.box-footer p {
  margin: 0px;
  font-size: 16px;
}
.box-footer img {
  margin-right: 16px;
  height: 18px;
}
.box-footer .bold {
  margin-top: 8px;
}

.footer__shortcuts {
  display: flex;
  flex-direction: column;
  grid-area: footerLinks;
}

.sign {
  display: flex;
  font-size: 14px;
  color: #656B6C;
  justify-content: center;
  margin-top: 2%;
}
.sign img {
  margin: 0 8px auto;
}

.address {
  display: flex;
  align-items: baseline;
}

.footer__location {
  display: flex;
  flex-direction: column;
  grid-area: footerAddress;
}
.footer__location a {
  color: #219ED3;
}

/* Páginas secundaria */
.textoDestacado {
  margin: 24px 10% 28px;
  font-size: 24px;
}

.section-us h2, .section-us h3 {
  margin-left: 0;
}

.section-team h2 {
  margin-left: 0;
}

.textoGris {
  color: #8F8D92;
}

/* - NOSOTROS, EQUIPO y NOTAS*/
.row {
  margin: 0;
}

.mg-left h2, .mg-left p {
  margin-left: 24px;
}

.cardHorizontal {
  width: 100%;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 auto 24px;
  align-items: flex-end;
}
.cardHorizontal p {
  margin: 0px 0px 16px 24px;
  text-align: justify;
}

.imgExtra {
  max-width: 100%;
  height: auto;
  margin: auto 0px;
  padding: 16px 0px;
}

.btnContactar {
  margin: 0px auto;
}

.boxBlanco {
  margin-bottom: 52px;
}

.whatsappIcon {
  height: 22px;
  margin: 0px 18px;
}

.botonera {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: botonera;
}

.btnCard {
  font-size: 14px;
  line-height: 20px;
  padding: 7px 20px;
  margin: 16px 0px 32px 24px;
}

.btnWA {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 16px 0px 32px 24px;
}

.cardInfo {
  width: 100%;
  margin-bottom: 32px;
  display: grid;
  grid-template-areas: "subtitulo fotoProf" "titulo fotoProf" "botonera fotoProf" "infoProf fotoProf";
  grid-template-columns: 75% 25%;
  align-items: end;
}
.cardInfo h4 {
  grid-area: subtitulo;
}
.cardInfo h3 {
  grid-area: titulo;
}
.cardInfo ul {
  margin-left: 24px;
}

.infoProfUno,
.infoProfDos,
.infoProfTres,
.infoProfCuatro {
  grid-area: infoProf;
}

.cardFotoProf {
  grid-area: fotoProf;
}
.cardFotoProf img {
  width: 110%;
}

.cardInfoNota {
  width: 100%;
  margin-bottom: 32px;
  display: grid;
  grid-template-areas: "subtitulo fotoNota" "titulo fotoNota" "infoNota fotoNota" "botonera fotoNota";
  grid-template-columns: 62% 38%;
  align-items: end;
}
.cardInfoNota h3 {
  grid-area: subtitulo;
}
.cardInfoNota h2 {
  grid-area: titulo;
}
.cardInfoNota ul {
  margin-left: 24px;
}

.cardFotoNota {
  grid-area: fotoNota;
}
.cardFotoNota img {
  width: 100%;
  border-end-end-radius: 10px;
}

.infoNotaUno, .infoNotaDos, .infoNotaTres {
  grid-area: infoNota;
}

/* Página secundaria - CONTACTO */
.formContacto {
  width: 68%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boxInput {
  display: flex;
  flex-direction: column;
}

.datos {
  display: grid;
  grid-template-areas: "especialista nombre" "email telefono";
  grid-template-columns: 42% 42%;
  grid-column-gap: 16%;
  padding-right: 0;
}

input {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  border: 0px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px 16px;
}

textarea {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  border: 0px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px 16px;
  resize: none;
}

select {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  border: 0px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px 16px;
  padding: 7px 14px;
  width: 100%;
  color: #656B6C;
}

label {
  margin-bottom: 8px;
  margin-top: 40px;
  font-weight: 600;
}

.btnSend {
  margin: 32px auto;
  font-size: 24px;
  width: 240px;
}

.lista {
  margin-left: 2%;
}

/* Página terciaria - NOTA INDIVIDUAL */
.container_white p {
  line-height: 24px;
}

.btnListado {
  width: 280px;
  margin: 8px auto;
}

/* MEDIA QUERIES */
@media (min-width: 992px) and (max-width: 1199px) {
  .section-intro h1 {
    font-size: 44px;
  }
  .section-intro p, .section-intro a {
    font-size: 30px;
    line-height: 32px;
  }
}
@media (min-width: 992px) {
  .box-equipo::-webkit-scrollbar {
    height: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
  }
  .box-equipo::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: #F5F5F5;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .titulo-home {
    font-size: 40px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  h2 {
    font-size: 32px;
  }
  .section-intro h1 {
    font-size: 36px;
  }
  .section-intro p, .section-intro a {
    font-size: 28px;
    line-height: 40px;
  }
  .direccion p {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #E9E9E9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .ms-4 {
    margin-left: 0px !important;
  }
  .navbar-nav {
    padding-left: 10%;
  }
  .navbar {
    padding-bottom: 0;
    margin-bottom: 0px;
  }
  .navbar-toggler {
    margin-right: 3%;
  }
  .navbar__button-contact {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .logo {
    height: 45px;
    margin-left: 10%;
  }
  .box-map {
    display: grid;
    grid-template-areas: "direccion" "mapa" "btnMapa";
    grid-template-rows: auto;
    grid-template-columns: 100%;
  }
  .direccion p {
    margin: 2% 0%;
  }
  .btn-mapa {
    margin: 24px auto;
  }
  .ancla {
    top: -55px;
  }
  .cardInfo {
    display: grid;
    grid-template-areas: "subtitulo" "titulo" "botonera" "infoProf" "fotoProf";
    grid-template-columns: 100%;
    text-align: center;
  }
  .cardInfo p,
  .cardInfo ul {
    text-align: left;
    margin-right: 24px;
  }
  .cardInfo img {
    width: 80%;
  }
  .cardInfoNota {
    display: grid;
    grid-template-areas: "subtitulo" "titulo" "infoNota" "fotoNota" "botonera";
    grid-template-columns: 100%;
  }
  .cardInfoNota p {
    margin-right: 24px;
  }
  .cardFotoNota img {
    border-end-end-radius: 0;
  }
  .datos {
    display: grid;
    grid-template-areas: "especialista" "nombre" "email" "telefono";
    grid-template-columns: 100%;
    justify-content: center;
  }
  .formContacto {
    width: 82%;
  }
  select, input, textarea {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .box-footer {
    display: grid;
    grid-template-areas: "footerLinks" "footerAddress";
    grid-template-rows: auto;
    grid-template-columns: 100%;
    margin-left: 4%;
  }
  .footer__location,
  .footer__shortcuts,
  .sign {
    margin-top: 18px;
  }
  nav {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  main {
    top: 80px;
    padding-bottom: 32px;
  }
  .datos {
    grid-template-columns: 100%;
  }
  .whatsappIcon {
    height: 20px;
    margin: 0px;
  }
}
@media (max-width: 575px) {
  .section-intro h1 {
    font-size: 30px;
  }
  .section-intro p, .section-intro a {
    font-size: 24px;
    line-height: 30px;
  }
  .box-intro div p {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  h2,
  h1.title-sec {
    font-size: 30px;
  }
  .container_white {
    padding: 16px 0 32px;
  }
  .container_white h2, .container_white p {
    margin: 3% 5% 1%;
    width: 90%;
  }
  .section-team h2 {
    margin-bottom: 24px;
  }
  .row {
    padding: 0;
  }
  .container-cards {
    margin-left: -12%;
    margin-right: 50px;
    width: 100vw;
  }
  .card {
    margin-left: 12px;
  }
  .cardHorizontal {
    width: 90%;
  }
  .home-section h2 {
    width: 100vw;
    margin-top: 24px;
    text-align: center;
  }
  .direccion p {
    font-size: 18px;
    margin: 0%;
  }
  .notas {
    display: grid;
    grid-template-areas: "titleNotas titleNotas" "cardNotas cardNotas" "none enlaceNotas";
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
  }
  .notas .container-cards {
    margin-bottom: 0%;
  }
  .link-notas {
    margin-bottom: 52px;
    margin-top: 12px;
  }
  main {
    top: 60px;
    padding-bottom: 12px;
  }
  .botonera {
    justify-content: space-around;
  }
  .btnCard {
    font-size: 14px;
    line-height: 20px;
    padding: 6px 3%;
    margin: 16px 0px 32px 2%;
  }
  .btnWA {
    margin: 16px 2% 32px 2%;
  }
}

/*# sourceMappingURL=style.css.map */
