/* Botones */

.btn {
    color: #FFFFFF;
    background-color: #8EBB73;
    border-radius: 10px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    display: block;
    transition: all 0.3s ease;

    &:hover {
        background-color: #417139;
        color: #FFFFFF;
    }

}

.btn_big {
    font-size: 22px;
    line-height: 40px;
    width: 240px;
}

.btn_little {
    position: absolute;
    right: 24px;
    bottom: 16px;
    font-size: 16px;
    line-height: 26px;
    width: 150px;
}