/* TARJETAS NOTAS Y PROFESIONALES */

.container-cards {
    display: flex;
    width: 100%;
    margin: 16px auto 48px;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    scrollbar-width: none;
    align-items: flex-start;
    padding-right: 20px;
    padding-bottom: 5px;
}

.card {
    overflow: hidden;
    min-width: 296px;
    max-width: 296px;
    height: 427px;
    background: $background-color_claro;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 24px;
    position: relative;

    p {
        margin: 0px 24px auto 24px;
    }

    img {
        position: absolute;
        bottom: 0px;
        width: 296px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}