/* FOOTER */

footer {
	margin-top: 52px;
	margin-bottom: 0px;
	padding: 24px 0px;
	background-color: $background-color_footer;
	text-align: center;
}
.contenedorFooter {
	display: grid;
	grid-template-areas: "footerLinks footerAddress";
	grid-template-columns: 50% 50%;
	grid-column-gap: 10%;
	text-align: left;
	margin-top: 0px;
	margin-left: 10%;
	a {
		margin-top: 8px;
	}
	p {
		margin: 0px;
		font-size: 16px;
	}
	img {
		margin-right: 16px;
		height: 18px;
	}
	.bold {
		margin-top: 8px;
	}
}
.footerLinks {
	display: flex;
	flex-direction: column;
	grid-area: footerLinks;
}
.sign {
	display: flex;
	font-size: 14px;
	color: $color_firma;
	justify-content: center;
	margin-top: 2%;
	img {
		margin: 0 8px auto;
	}
}
.linkMapa {
	color: $color_link;
}
.address {
	display: flex;
	align-items: baseline;
}
.footerAddress {
	display: flex;
	flex-direction: column;
	grid-area: footerAddress;
}
