/* HEADER */

.header {
    position: fixed;
    background: #F5F5F5;
    width: 100vw;
    z-index: 10;
}

// HEADER - Enlaces menú principal

nav {
    margin-top: 50px;
    color: #1F1F1F;
    background: #F5F5F5;
    z-index: 10;
}

a {
    text-decoration: none;
    color: #1F1F1F;
}

nav ul a:hover {
    padding-bottom: calc(var(--bs-nav-link-padding-x) - 2px);
    border-bottom: #1F1F1F solid 2px;
    transition: all 0.1s ease;
}

nav li {
    list-style-type: none;
    font-style: normal;
    font-size: 16px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 57%;
}

.contactoHeader {
    text-transform: uppercase;
    display: flex;
    padding: 8px 32px 8px 18px;
    background-color: #1F1F1F;
    color: #FFFFFF;
    border-radius: 10px;
    flex-direction: row;
    transition: all 0.3s ease;
}

.phoneHeader-white {
    height: 18px;
    margin: auto 8px;
}

.contactoHeader:hover {
    background-color: #5A5A5A;
}

.navbar-toggler {
    border: 0;
}
