/* HEADER */

.header {
    position: fixed;
    background: $background-color_principal;
    width: 100vw;
    z-index: 10;
}

// HEADER - Enlaces menú principal

nav {
    margin-top: 50px;
    color: $color_link-standard;
    background: $background-color_principal;
    z-index: 10;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        width: 57%;

        a:hover {
            padding-bottom: calc(var(--bs-nav-link-padding-x) - 2px);
            border-bottom: $color_link-standard solid 2px;
            transition: all 0.1s ease;
        }
    }

    li {
        list-style-type: none;
        font-style: normal;
        font-size: 16px;
    }
}

// todos los enlaces de la web
a {
    text-decoration: none;
    color: $color_link-standard;
}

.navbar__button-contact {
    text-transform: uppercase;
    display: flex;
    padding: 8px 32px 8px 18px;
    background-color: $color_link-standard;
    color: $background-color_claro;
    border-radius: 10px;
    flex-direction: row;
    transition: all 0.3s ease;

    &:hover {
        background-color: $background-color_button-hover;
    }
}

.icon-phone_white {
    height: 18px;
    margin: auto 8px;
}

.navbar-toggler {
    border: 0;
}
