/* SECCIÓN 1 - Intro */
.intro {
    align-items: center;
}

.darkText {
    color: $color_fuente_principal;
}

.introContacto {
    font-weight: 600;
    font-size: 36px;
    color: $color_texto-claro;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 50px;

    p {
        margin: 0%;
        padding-bottom: 52px;
    }
}

.imgIntro {
    margin-top: -20px;
}