/* MEDIA QUERIES */

// X-LARGE devices to LARGE devices (desktops, 992px to 1199px)
@media (min-width:992px) and (max-width:1199px) {
    .section-intro{
        h1 {
            font-size: 44px;
        }

        p, a {
            font-size: 30px;
            line-height: 32px;
        }
    }
}

// LARGE devices (desktops, 992px and up)
@media (min-width:992px) {
    .box-equipo {
        &::-webkit-scrollbar {
            height: 10px;
            border-radius: 5px;
            background-color: $background-color_claro;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 4px rgb(0 0 0 / 20%);
            background-color: $background-color_principal;
        }
    }
}

// MEDIUM devices to LARGE devices (tablets, 768px to 991px)
@media (min-width:768px) and (max-width:991px) {
    .titulo-home {
        font-size: 40px;
    }
}

// SMALL devices to MEDIUM devices (landscape phones, 576px to 767px)
@media (min-width:576px) and (max-width:767px) {

    h2 {
        font-size: 32px;
    }

    .section-intro{
        h1 {
            font-size: 36px;
        }

        p, a {
            font-size: 28px;
            line-height: 40px;
        }
    }

    .direccion {
        p {
            font-size: 20px;
        }
    }
}

// Hasta LARGE devices (less than 991px)
@media (max-width:991px) {
    .navbar-collapse {
        background-color: $background-color_navbar;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .ms-4 {
        margin-left: 0px !important;
    }

    .navbar-nav {
        padding-left: 10%;
    }

    .navbar {
        padding-bottom: 0;
        margin-bottom: 0px;
    }

    .navbar-toggler {
        margin-right: 3%;
    }

    .navbar__button-contact {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .logo {
        height: 45px;
        margin-left: 10%;
    }

    .box-map {
        display: grid;
        grid-template-areas:
            "direccion"
            "mapa"
            "btnMapa";
        grid-template-rows: auto;
        grid-template-columns: 90%;
        justify-content: center;
    }

    .direccion {
        p {
            margin: 2% 0%;
        }
    }

    .btn-mapa {
        margin: 24px auto;
    }

    .ancla {
        top: -55px;
    }

    .mg-left {
        h2, p {
            margin-left: 0;
        }
    }

    .cardInfo {
        display: grid;
        grid-template-areas:
            "subtitulo"
            "titulo"
            "botonera"
            "infoProf"
            "fotoProf";
        grid-template-columns: 100%;
        text-align: center;

        p,
        ul {
            text-align: left;
            margin-right: 24px;
        }

        img {
            width: 80%;
        }
        
    }

    .cardInfoNota {
        display: grid;
        grid-template-areas:
            "subtitulo"
            "titulo"
            "infoNota"
            "fotoNota"
            "botonera";
        grid-template-columns: 100%;

        p {
            margin-right: 24px;
        }

        .botonera {
            justify-content: space-around;
        }
    }

    .cardFotoNota{
        img {
            border-end-end-radius: 0;
        }
    }

    .datos {
        display: grid;
        grid-template-areas:
            "especialista"
            "nombre"
            "email"
            "telefono";
        grid-template-columns: 100%;
        justify-content: center;
    }

    .formContacto {
        width: 82%;
    }

    select, input, textarea {
        font-size: 14px;
    }
}   

// Hasta MEDIUM devices (less than 767px)
@media (max-width:767px) {
    .box-footer {
        display: grid;
        grid-template-areas:
            "footerLinks"
            "footerAddress";
        grid-template-rows: auto;
        grid-template-columns: 100%;
        margin-left: 4%;
    }

    .footer__location,
    .footer__shortcuts,
    .sign {
        margin-top: 18px;
    }

    nav {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    main {
        top: 80px;
        padding-bottom: 32px;
    }

    .datos {
        grid-template-columns: 100%;
    }

    .whatsappIcon {
        height: 20px;
        margin: 0px;
    }
}

// X-SMALL devices (portrait phones, less than 576px)
@media (max-width:575px) {

    .section-intro{
        h1 {
            font-size: 30px;
        }

        p, a {
            font-size: 24px;
            line-height: 30px;
        }
    }

    .box-intro {
        div{
            p {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }

    h2,
    h1.title-sec {
        font-size: 30px;
    }

    .container_white {
        padding: 16px 0 32px;
        h2:not(.title-location), p {
            margin: 3% 5% 1%;
            width: 90%;
        }
    }

    .title-location {
        margin-left: 10%;
    }

    .tituloSecundario, .section-us h3 {
        margin: 4% auto 0 5%;
    }

    .pagTerciaria {
        .lista {
            margin-top: 3%;
        }
    }

    .section-team {
        h2 {
            margin-bottom: 24px;
        }
    }

    .container-cards {
        margin-left: -12%;
        margin-right: 50px;
        width: 100vw;
    }

    .card {
        margin-left: 12px;
    }

    .cardHorizontal {
        width: 90%;
    }

    .home-section {
        h2 {
            width: 100vw;
            margin-top: 24px;
            text-align: center;
        }
    }

    .direccion {
        p {
            font-size: 18px;
            margin: 0%;
        }
    }

    .notas {
        display: grid;
        grid-template-areas:
            "titleNotas titleNotas"
            "cardNotas cardNotas"
            "none enlaceNotas";
        grid-template-columns: 75% 25%;
        grid-template-rows: auto;

        .container-cards {
            margin-bottom: 0%;
        }
    }

    .link-notas {
        margin-bottom: 52px;
        margin-top: 12px;
    }

    main {
        top: 60px;
        padding-bottom: 12px;
    }

    .botonera {
        justify-content: space-around;
    }

    .btnCard {
        font-size: 14px;
        line-height: 20px;
        padding: 6px 3%;
        margin: 16px 0px 32px 2%;
    }

    .btnWA {
        margin: 16px 2% 32px 2%;
    }

}