/* Títulos y subtítulos */

h1,
h2,
h3,
h5 {
    font-weight: 600;
}

h1.title-sec {
    font-size: 40px;
    width: 80%;
    margin: 30px auto 8px;
}

h2{
    font-size: 40px;
    margin-top: 24px;
    margin-bottom: 12px;
}

h2.pagTerciaria {
    margin: 8px auto;
}

h4.subtituloNotas{
    font-size: 20px;
    margin-top: 24px;
}

h3,
.notasTitulo {
    font-size: 24px;
    margin: 8px auto 8px 24px;
}

.card, .cardInfo {
    h4 {
        @include subtitulo_gris-uppercase;
    }
}

.notasSubtitulo {
    @include subtitulo_gris-uppercase;
}

h3.pagTerciaria {
    margin: 24px auto 0px;
}

h4.tituloSecundario {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}

.box-footer {
    h3,h4,h5 {
        font-weight: 600;
        font-size: 20px;
        text-align: left;
        margin: 16px 0px 8px 0px;
    }
}