/* UBICACIÓN - Sección 3 Home */

.contenedorBlanco {
    margin: 0 10%;
}

.contenedorMapa {
    display: grid;
    grid-template-areas: "mapa direccion" "mapa btnMapa";
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 45%;
    grid-column-gap: 5%;
}

.responsive-iframe {
    width: 100%;
    height: 440px;
}

.mapa {
    grid-area: mapa;
}

.direccion {
    grid-area: direccion;
    margin: 5% 5%;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    p {
        margin: 4% 0%;
        font-size: 24px;
    }
}

.bold {
    font-weight: 600;
}

.location-icon {
    height: 24px;
    margin-right: 10px;
}

.btnMapa {
    margin: 57px auto;
    grid-area: btnMapa;
}

.ancla {
    position: relative;
    top: -135px;
}