// VARIABLES

// ------- COLORES -------
// Fuentes
$color_fuente_principal: #1D1D1F;
$font-family_principal: 'Plus Jakarta Sans', sans-serif;
$color_firma: #656B6C;
$color_link: #219ED3;
$color_link-standard: #1F1F1F;
$color_texto-claro: #8F8D92;

// Navbar
$background-color_navbar: #E9E9E9;
$background-color_button-hover: #5A5A5A;

// Fondo principal
$background-color_principal: #F5F5F5;

// Fondo claro
$background-color_claro: #FFFFFF;

// Fondo footer
$background-color_footer: #D9D9D9;

